{{ define "title" }}
	{{ .Title }}
{{ end }}

{{ define "main" }}

<!-- Welcome -->
<div class="container-fluid">
  <div class="row bg-gradient">
    <div class="col">
      <h1 class="text-light text-center pt-5 letter-space">Welcome to EG Support</h1>
      <h5 class="text-light text-center pb-5 pt-5">We’re here to help, 7 days a week.</h5>
      
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto">
    <h3 class="mt-5 text-blue text-center">Contact Us</h3>    

    </div>
  </div>
</div>

<div class="container">
    <div class="row text-center">
      <div class="col-md-6 mx-auto text-color-light">
        <img src="/images/illustrations/phone.svg" class="my-5" alt="Call us">
        
        
        <h3 class="mb-0"><a href="tel:{{  range .Site.Data.contact }}{{ .mobile }}{{ end }}
          " class="align-middle text-dark">0416377133</a></h3>
        <img src="/images/illustrations/email.svg" class="my-5" alt="Email us">
        <h5 class="Lead text-dark mb-5"><a href="mailto:info@egrepairs.com.au" class="lead text-dark">info@egrepairs.com.au<svg width="0.8em" height="0.8em" viewBox="0 0 16 16" class="bi bi-chevron-right align-middle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg></a></h5>
      
  
      </div>
      
      <hr class="hr-gradient w-100 mx-auto mb-5">

    </div>
  </div>
<!--Request A Quote-->
<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto">
    <h3 class="my-5 text-blue text-center" id="quoteform">Request A Quote</h3>
    
    <div>
      
      <form name="contact" method="POST" data-netlify="true" id="quoteForm">
        <input type="hidden" name="subject" 
        value="Sales inquiry from egrepairs.com.au" />
        <p class="text-dark px-3 text-left">Please fill out the form and we will endeavour to answer as soon as possible.</p>

        <div class="form-group">
          <label for="name">Name(required)</label>
          <input type="text" class="form-control" id="name" aria-describedby="emailHelp" required>
        </div>
        <div class="form-group">
          <label for="formEmail">Email(required)</label>
          <input type="email" name="email" class="form-control" id="formEmail" aria-describedby="emailHelp" required>
        </div>
        <div class="form-group">
          <div class="form-group">
            <label for="formSubject">Subject</label>
            <textarea class="form-control" id="formSubject" rows="1" name="subject"></textarea>
          </div>
      </div>
      <div class="form-group">
        <label for="formMessage">Message</label>
        <textarea class="form-control" id="formMessage" rows="5" name="message"></textarea>
      </div>
        <p>
          <button type="submit" class="ml-3 btn bg-logo-blue"><span class="text-light">Send</span></button>
        </p>
      </form>
    </div>
    
    <hr class="hr-gradient w-100 mx-auto mb-5">

    </div>
  </div>
</div>


<!-- Getting here and google map -->
<div class="container">
    <div class="column">
      <div class="col-lg-8 mx-auto text-center no-gutters my-5">
        <ul class="tick-list">
        <img src="/images/illustrations/placeholder.svg"  alt="Location">
        <h3 class="mx-auto text-blue my-5" id="direction">Getting Here</h3>
        <li><p class="text-dark mb-3 text-left">Shop G38, Burwood One Shopping Centre, 172-210 Burwood Highway, Burwood East, VIC 3151</p></li>
        <li><p class="text-dark mb-3 text-left">Near the 24 hour Kmart and Coles</p></li>
        <li><p class="text-dark mb-3 text-left">Free parking</p></li>
      </ul>
      </div>
      </div>
    
    </div>
 </div>


 <!-- SC map -->
 <div class="container-fluid">
   <div class="row">
     <div class="co-lg-10 mx-auto text-center">
      <img src="/images/contact/Burwood-SC.PNG" class="img-fluid mb-5" height="350" alt="Burwood One Shopping Center Map">
    </div>     
   </div>
 </div>

 <div class="container">
  <div class="row">
    <div class="co-lg-10 mx-auto text-center">
     <img src="/images/contact/outside.png" class="img-fluid mb-5" alt="Shopping Centre Outside">
    </div>     
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="co-lg-10 mx-auto text-center">
     <img src="/images/contact/way1.png" class="img-fluid mb-5"  alt="Shopping Centre 1">
    </div>     
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="co-lg-10 mx-auto text-center">
     <img src="/images/contact/way2.png" class="img-fluid mb-5" alt="Shopping Centre 2">
    </div>     
  </div>
</div>

 <!-- Shop exterior -->
 <div class="container">
  <div class="row">
    <div class="co-lg-10 mx-auto text-center">
     <img src="/images/contact/exterior.jpg" class="img-fluid mb-5" alt="Shop exterior">
    </div>     
  </div>
</div>


{{ end }}