
{{ define "main" }}

<!-- Cover image -->
<div class="container-fluid px-0">
  <div class="col-sm-12 col-lg-8 px-0 mx-auto text-center">
    <img src="/images/iphone/phone.jpg" class="img-fluid" alt="iphone cover">
  </div>
</div>


<!-- Welcome Section-->
<div class="container-fluid">
<div class="column text-center">
 <div class="col-12">
   <h1 class="mt-5 text-blue mb-3 ">Your Local Mobile Phone Shop</h1>
  
 </div>
</div>
</div>


<div class="container-fluid">
  <div class="column text-center">
    <div class="col" id="whyus">

      <h3 class="text-brand-color my-5">iPhone Glass Screen Protectors</h3>
      <h4 class="my-5">iPhone 14 Series Available Now!</h4>
    </div>
  </div>
</div>


{{ partial "iphonegsp.html" }}

<div class="container-fluid">
  <div class="column text-center">
    <div class="col" id="whyus">

      <h3 class="text-brand-color my-5">iPad Glass Screen Protectors</h3>
    </div>
  </div>
</div>

{{ partial "ipadgsp.html" }}

{{ partial "iphonecases.html" }}




<!-- email -->
<div class="container">
  <div class="row text-center">
    <div class="col-lg-8 mx-auto text-color-light">


      <hr class="hr-gradient w-100 mx-auto mb-0">

    </div>
  </div>
</div>

<!-- Getting here and google map -->
<div class="container">
    <div class="column">
      <div class="col-lg-8 mx-auto text-center no-gutters my-5">
        <ul class="tick-list">
        <img src="/images/illustrations/placeholder.svg"  alt="Location">
        <h3 class="mx-auto my-5" id="getDirection">Getting Here</h3>
        <li><p class="text-dark mb-3 text-left">Shop G38, Burwood One Shopping Centre, 172-210 Burwood Highway, Burwood East, VIC 3151</p></li>
        <li><p class="text-dark mb-3 text-left">Near the 24 hour Kmart and Coles</p></li>
        <li><p class="text-dark mb-3 text-left">Free parking</p></li>
      </ul>
      </div>
      </div>
    
    </div>
 </div>



 <div class="container-fluid">
  <div class="row">
    <div class="co-lg-10 mx-auto text-center">
     <img src="/images/contact/Burwood-SC.jpeg" class="img-fluid mb-5" wdith="400" alt="Shopping Centre 2">
 </div>     
  </div>
</div>

  <div class="container-fluid">
    <div class="row">
      <div class="co-lg-10 mx-auto text-center">
       <img src="/images/contact/outside.png" class="img-fluid mb-5" wdith="400" alt="Shopping Centre Carpark">
   </div>     
    </div>
  </div>
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="co-lg-10 mx-auto text-center">
       <img src="/images/contact/way1.png" class="img-fluid mb-5" wdith="400" alt="Shopping Centre 1">
   </div>     
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="co-lg-10 mx-auto text-center">
       <img src="/images/contact/way2.png" class="img-fluid mb-5" wdith="400" alt="Shopping Centre 2">
   </div>     
    </div>
  </div>

  

{{ end }}
