
{{ define "main" }}

<!-- Cover image -->
<div class="container-fluid px-0">
   <div class="col-sm-12 col-lg-8 px-0 mx-auto text-center">
     <img src="/images/iphone/phone.jpg" class="img-fluid" alt="iphone cover">
   </div>
 </div>



<!-- Welcome Section-->
<div class="container-fluid">
<div class="column text-center">
 <div class="col-12">
   <h1 class="mt-5 text-blue mb-3 ">Your Best Mobile Phone Shop</h1>
   <h3 class="text-blue mb-5">Get the best support when you need it most.</h3>
 </div>
</div>
</div>
{{ partial "whatwedoforyou.html" }}

{{ partial "whyus.html" }}

{{ partial "iphoneScreen.html" }}
{{ partial "backGlass.html" }}
{{ partial "ipadScreen.html" }}

<div class="container-fluid">
  <div class="column text-center">
   <div class="col-12">

     <h3 class="text-blue mb-5"></h3>
   </div>
  </div>

{{ partial "contact-us.html" }}


{{ end }}
