<div class="container">
    <div class="row justify-content-around">
        <div class="col-md-5">
            <img src="/images/iphone/back-glass.png" class="mt-5 img-fluid" alt="iphone back glass">
        </div>
      <div class="col-md-5">
           <!--  <h5 class="card-title text-muted text-uppercase text-center">Our Services</h5> -->
           <div class="text-center">
           <h5 class="mt-5 font-weight-bold">iPhone Back Glass Replacement</h5>
           </div>
            <hr>
            <p class="mb-3">Supported models:</p>
            <ul class="fa-ul">
              <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>iPhone 8 / iPhone 8 Plus</li>
              <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>iPhone X / Xs / Xs Max / XR</li>
              <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>iPhone 11 / 11 Pro / 11 Pro Max</li>
              <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>iPhone 12 / 12 Pro / 12 Pro Max</li>
              <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>iPhone 13 / 13 Pro / 13 Pro Max</li>
            </ul>
            <p>Fixed in 1 Hour - On The Spot!</p>
          </div>
         
    </div>
  </div>
