<div class="container-fluid">
  <div class="row bg-gradient">
    <div class="col">
      <h2 class="text-light text-center py-5 letter-space" id="contact-us">Call 0416377133 or Visit Us Today!</h2>    
    </div>
  </div>
</div>


{{ partial "quoteform.html" }}

<!-- Getting here and google map -->
<div class="container">
  <div class="column">
    <div class="col-lg-8 mx-auto text-center no-gutters my-5">
      <ul class="tick-list">
        <h2 class="text-blue text-center py-5 letter-space">Getting Here</h2>    
        <li><p class="text-dark my-3 text-left">Shop G38, Burwood One Shopping Centre, 172 Burwood Hwy, Burwood East, VIC 3151</p></li>
      <li><p class="text-dark mb-3 text-left">Near the 24 hour Kmart and Coles</p></li>
      <li><p class="text-dark mb-3 text-left">Free parking</p></li>
    </ul>
    </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="co-lg-10 mx-auto ">
   <div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3150.318331711151!2d145.14693555137984!3d-37.85284134395504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad63f69825ebf17%3A0x642b8d2a60f41178!2sEG%20Repairs(Previously%20MKC%20Repairs)!5e0!3m2!1sen!2sau!4v1622267963144!5m2!1sen!2sau"  style="border:0;" height="450" width="600" loading="lazy" allowfullscreen=""></iframe>
  </div>
    </div>     
    </div>
    </div>

 <div class="container-fluid">
  <div class="row">
    <div class="co-lg-10 mx-auto text-center">
     <img src="/images/contact/Burwood-SC.PNG" class="img-fluid mb-5" wdith="600" alt="Shopping Centre Outside">
 </div>     
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="co-lg-10 mx-auto text-center">
     <img src="/images/contact/exterior.jpg" class="img-fluid mb-5" wdith="400" alt="Shop Exterior">
 </div>     
  </div>
</div>