

  <!-- Feature Cards -->
<section class="pricing">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <!-- Free Tier -->
      <div class="col-md-6 my-5">
        <div class="card">
          <div class="card-body">
         
            <h6 class="card-price text-blue text-center">How Mail-In Works</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Mail in your device and notify us what the problem is.</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>We will check the problem. Most repairs can be done on the same day.</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Hassle-free experience. Friendly & highly responsive staff</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Free express return shipping</li>
            </ul>
            <a href="/#contact-us" class="btn btn-block btn-primary text-uppercase">Contact Us</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
    
      
    </div>
  </div>
</section>
