<div class="container">
    <div class="row justify-content-around">
      <!-- Free Tier -->
      <div class="col-lg-4">
              <img src="/images/ipad/ipad1.jpg" class="my-3 img-fluid" alt="ipad glass protector 1">
              <h3 class="card-title text-uppercase text-center my-3">$39</h3>
  
              <ul class="fa-ul">
                <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>Glass Screen Protector</li>
                <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>For iPad 5/6/7/8/9</li>
                
              </ul>
      </div>
      <div class="col-lg-4">
        <img src="/images/ipad/ipad2.jpeg" class="my-3 img-fluid" alt="ipad glass protector 2">
        <h3 class="card-title text-uppercase text-center my-3">$39</h3>
  
        <ul class="fa-ul">
          <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>Glass Screen Protectors</li>
          <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>For iPad Pro 11-inch</li>
          
        </ul>
  </div>
  <div class="col-lg-4">
  <img src="/images/ipad/ipad3.jpg" class="my-3 img-fluid" alt="ipad glass protector 3">
  <h3 class="card-title text-uppercase text-center my-3">$49</h3>
  
  <ul class="fa-ul">
    <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>Privacy Screen Protectors</li>
    <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>For All iPad Models</li>
    
  </ul>
  </div>
      <!-- Plus Tier -->
    
    </div>
  </div>
  