<div class="container">
    <div class="row justify-content-around">
      <!-- Free Tier -->
      <div class="col-lg-4">
              <img src="/images/iphone/iphone-screen-1.jpg" class="my-3 img-fluid" alt="iphone glass protector 1">
              <h3 class="card-title text-uppercase text-center my-3">$29</h3>

              <ul class="fa-ul">
                <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>Glass Screen Protector</li>
                <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>For iPhone X/Xs/XR</li>
                
              </ul>
      </div>
      <div class="col-lg-4">
        <img src="/images/iphone/iphone-gsp-2.png" class="my-3 img-fluid" alt="iphone glass protector 2">
        <h3 class="card-title text-uppercase text-center my-3">$29</h3>

        <ul class="fa-ul">
          <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>Glass Screen Protectors</li>
          <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>For iPhone 13/13 Pro/13 Pro Max</li>
          
        </ul>
</div>
<div class="col-lg-4">
  <img src="/images/iphone/iphone-gsp-3.png" class="my-3 img-fluid" alt="iphone glass protector 3">
  <h3 class="card-title text-uppercase text-center my-3">$39</h3>

  <ul class="fa-ul">
    <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>Privacy Screen Protectors</li>
    <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>For All iPhone Models</li>
    
  </ul>
</div>
      <!-- Plus Tier -->
    
    </div>
  </div>
