<div class="container-fluid">
    <div class="column text-center">
      <div class="col" id="whyus">
  
        <h3 class="text-brand-color my-5">iPhone Cases</h3>
        <h4 class="my-5">iPhone 14 Series Available Now!</h4>
      </div>
    </div>
  </div>
  
  
  
  <div class="container">
    <div class="row justify-content-around">
      <!-- Free Tier -->
      <div class="col-lg-4">
              <img src="/images/iphone/ring-case.jpg" class="my-3 img-fluid" alt="iphone ring case">
              <h3 class="card-title text-uppercase text-center my-3">$29</h3>
  
              <ul class="fa-ul">
                <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>iPhone Built-in Magenetic Ring Case</li>
            <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>solid protection with the shockproof dual layer design </li>
              
              </ul>
      </div>
      <div class="col-lg-4">
        <img src="/images/iphone/red-silicone.png" class="my-3 img-fluid" alt="iphone silicone case">
        <h3 class="card-title text-uppercase text-center my-3">$29</h3>
  
        <ul class="fa-ul">
          <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>iPhone Premium Silicone Case</li>
                <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>The soft touch finish feels great in your hand.</li>
                
        </ul>
  </div>
  <div class="col-lg-4">
  <img src="/images/iphone/heavy-duty.jpeg" class="my-3 img-fluid" alt="iphone heavey duty case">
  <h3 class="card-title text-uppercase text-center my-3">$39</h3>
  
  <ul class="fa-ul">
    <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span></li>
                <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>iPhone Heavey Duty Case</li>
                <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>Snug fitting with charging port protection with a flap, dust proof</li>
                
  </ul>
  </div>
      <!-- Plus Tier -->
    
    </div>
  </div>
  