<div class="container-fluid">
  <div class="column text-center">
    <div class="col" id="whyus">

      <h2 class="text-brand-color mt-5">Popular Repairs</h2>
    </div>
  </div>
  </div>
 <div class="container">
      <div class="row justify-content-around">
        <!-- Free Tier -->
        <div class="col-md-5">
                <img src="/images/iphone/iphone-screen.jpg" class="mt-5 img-fluid" alt="iphone">

        </div>
        <!-- Plus Tier -->
        <div class="col-md-5">
             <!--  <h5 class="card-title text-muted text-uppercase text-center">Our Services</h5> -->
             <div class="text-center" id="iphone-screen">
             <h5 class="font-weight-bold mt-5">iPhone Screen Replacement</h5>

             </div>
              <hr>
              <ul class="fa-ul">
                <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>Fixed in 30 Minutes</li>
                <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>Done By Our Professionals</li>
                <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>No Bookings Required</li>
                <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>On The Spot</li>
                <li class="mb-3"><span class="fa-li"><i class="fas fa-check"></i></span>1 Year Warranty</li>
              
              </ul>

            </div>
        
      </div>
    </div>
