<div class="container-fluid">
    <div class="column text-center">
      <div class="col" id="whatwedo">

        <h2 class="text-brand-color my-5">Models We Support</h2>
      </div>
    </div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-10 mx-auto">		
    <ul class="tick-list">
        <li><p class="text-dark mb-3 text-left">iPhone/iPad/Apple Watch/Macbook</p></li>
        <li><p class="text-dark mb-3 text-left">Samsung Galaxy Phones & Tablets</p></li>
        <li><p class="text-dark mb-3 text-left">Google Pixel Phones</p></li>
        <li><p class="text-dark mb-3 text-left">Oppo Phones</p></li>
        <li><p class="text-dark mb-3 text-left">Other Mobile Phone Models</p></li>
      </ul>


</div>
</div>
</div>

