

  <!-- Feature Cards -->
<section class="pricing">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <!-- Free Tier -->
      <div class="col-md-6 my-5">
        <div class="card">
          <div class="card-body">
         
            <h6 class="card-price text-blue text-center">What We Do For You</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Screen Replacement For Your Phone</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Battery Replacement For Your Phone</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>iPhone Back Glass Replacement(Same day service!)</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Charging Port Replacement For Your Phone</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Motherboard Repairs</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>And More...</li>
            </ul>
            <a href="/#contact-us" class="btn btn-block btn-primary text-uppercase">Contact Us</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
    
      
    </div>
  </div>
</section>

{{ partial "whychooseus.html" }}