

  <!-- Feature Cards -->
<section class="pricing">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <!-- Free Tier -->
      <div class="col-md-6 my-5">
        <div class="card">
          <div class="card-body">
         
            <h6 class="card-price text-blue text-center">What We Do For You</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>We repair mobile phones, iPads & Tablets, Apple Watch and comuputers</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Cracked Screen Replacement</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Battery Replacement</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>iPhone Back Glass Replacement</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Charging Port Replacement</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Motherboard Repairs, for example, not turning on, or no mobile reception, etc.</li>
            </ul>
            <a href="/#contact-us" class="btn btn-block btn-primary text-uppercase">Contact Us</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
    
      
    </div>
  </div>
</section>

{{ partial "howitworks-regional"}}
{{ partial "whychooseus.html" }}