<div class="container-fluid">
    <div class="column text-center bg-light">
      <div class="col" id="whyus">
        <h2 class="text-brand-color pt-5">What We Do For You</h2>
        <p>We support all major brands</p>
      </div>

      <div class="col-lg-6 mx-auto py-3">
       <table class="mb-5 table text-center price align-middle">
        <thead>
          <tr>
            <td class="text-middle font-weight-bold border-top-0"></td>
            <td class="border-top-0 font-weight-bold"></td>
        </thead>
        <tbody>
          <tr>
            <td class="text-middle align-middle border-right border-bottom border-top-0 font-weight-bold">Apple</td>
            <td class="border-right align-middle border-bottom border-top-0">iPhone, iPad, Apple Watch & MacBook</td>
          </tr>
          <tr>
            <td class="text-middle align-middle border-right border-bottom border-top-0 font-weight-bold">Samsung</td>
            <td class="border-right align-middle border-bottom border-top-0">Galaxy Phones & Tablets</td>
          </tr>
          <tr>
            <td class="text-middle align-middle border-bottom border-right border-top-0 font-weight-bold">Google Pixel</td>
            <td class="border-right align-middle border-bottom border-top-0">All Pixel Phones</td>
          </tr>
          <tr>
            <td class="text-middle align-middle border-bottom border-right border-top-0 font-weight-bold">Oppo</td>
            <td class="border-right align-middle border-bottom border-top-0">All Oppo models</td>
          </tr>
          
          
        </tbody>
      </table>
    </div>
    </div>
  </div>