<div class="container-fluid">
    <div class="column text-center">
      <div class="col" id="whatwedo">

        <h2 class="text-brand-color my-5">What We Do For You</h2>
      </div>
    </div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-10 mx-auto">		
    <ul class="tick-list">
        <li><p class="text-dark mb-3 text-left">Mobile phone repairs, such as screen/battery replacement</p></li>
        <li><p class="text-dark mb-3 text-left">iPad/Tablet repairs, such as screen/battery Replacement</p></li>
        <li><p class="text-dark mb-3 text-left">iPhone back glass replacement</p></li>
        <li><p class="text-dark mb-3 text-left">Motherboard repairs, when your device is not turning on, or water damaged, etc.</p></li>
        <li><p class="text-dark mb-3 text-left">Apple watch repairs</p></li>
      </ul>


</div>
</div>
</div>

