

  <!-- Feature Cards -->
<section class="pricing">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <!-- Free Tier -->
      <div class="col-md-6 my-5">
        <div class="card">
          <div class="card-body">
         
            <h6 class="card-price text-blue text-center">What We Do</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Your Local Computer Support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>10+ Years Professioal Experience</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Fast Turnaround</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>No Fix No Fee (Unlike many other shops, who would charge you a fee for inpecting your laptop, with us, you don't pay anything until your computer gets fixed!)</li>
            
              <li><span class="fa-li"><i class="fas fa-check"></i></span>We repair screens, batteries, motherbaord etc., for your computer. We also support software inspection/upgrade.</li>
              
            </ul>
            <a href="/#contact-us" class="btn btn-block btn-primary text-uppercase">Contact Us</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
    
      
    </div>
  </div>
</section>
