<div class="container-fluid">
    <div class="column text-center bg-light">
      <div class="col" id="whyus">
        <h2 class="text-brand-color my-5 pt-5">Why Choose Us</h2>
        <p>With our skills and passion, we aim at 100% customer satisfaction. We hope you have a great experience with our service!</p>
      </div>

      <div class="col-lg-6 mx-auto py-3">
       <table class="mb-5 table text-center price align-middle">
        <thead>
          <tr>
            <td class="text-middle font-weight-bold border-top-0"></td>
            <td class="border-top-0 font-weight-bold"></td>
        </thead>
        <tbody>
          <tr>
            <td class="text-middle align-middle border-right border-bottom border-top-0 font-weight-bold">Best Service</td>
            <td class="border-right align-middle border-bottom border-top-0">Hassle free experience. Trusted by thousands customers</td>
          </tr>
          <tr>
            <td class="text-middle align-middle border-right border-bottom border-top-0 font-weight-bold">Timely</td>
            <td class="border-right align-middle border-bottom border-top-0">Most jobs done in 30 minutes, no bookings needed</td>
          </tr>
          <tr>
            <td class="text-middle align-middle border-bottom border-right border-top-0 font-weight-bold">Stay assured</td>
            <td class="border-right align-middle border-bottom border-top-0">Original quality, one year warranty</td>
          </tr>
          <tr>
            <td class="text-middle align-middle border-bottom border-right border-top-0 font-weight-bold">Your Data</td>
            <td class="border-right align-middle border-bottom border-top-0">Not affected, no backup required</td>
          </tr>
          
          
        </tbody>
      </table>
    </div>
    </div>
  </div>

